{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="CRAC (Community Resilience against COVID-19) is a not for profit initiative focused on building the resilience of effected communities with the sole aim of ending the pandemic through; Aggressive educational initiatives and altruistic projects
Sustainable strategic interventions designed to activate selfless giving aimed at supporting the efforts of government to control the spread and, ultimately end the pandemic. ">
	<link rel="icon" type="image/png" sizes="192x192" href="https://res.cloudinary.com/media-outlet/image/upload/v1585585511/crac/favicon_xmgsj2_940baa423a6b5fba85df7e9ad8999427_yqy1pd.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/media-outlet/image/upload/v1585585511/crac/favicon_xmgsj2_940baa423a6b5fba85df7e9ad8999427_yqy1pd.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://res.cloudinary.com/media-outlet/image/upload/v1585585511/crac/favicon_xmgsj2_940baa423a6b5fba85df7e9ad8999427_yqy1pd.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/media-outlet/image/upload/v1585585511/crac/favicon_xmgsj2_940baa423a6b5fba85df7e9ad8999427_yqy1pd.png">
	<title>Community Resilience Against COVID-19</title>
	<link rel="stylesheet" href="{% static 'lib/bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'lib/fontAwesome/css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="{% static 'lib/OwlCarousel/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
	<link rel="stylesheet" href="{% static 'dist/main.css' %}">
</head>

<body>
	<header>
		<nav class="mb-1 navbar navbar-expand-lg navbar-dark">
			<div class="container">
				<a class="navbar-brand" href="{% url 'home' %}">
					<img src="https://res.cloudinary.com/media-outlet/image/upload/v1585585610/crac/logo_faulog_bcd3139a03aa80f9475b30d1cda086ca_qmbajk.png" alt="Logo" class="logo">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleNav" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="collapse navbar-collapse" id="toggleNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item ">
							<a class="nav-link " href="{% url 'home' %}#home">
								Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="{% url 'home' %}#about">
								About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="{% url 'home' %}#video">
								Video</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="{% url 'home' %}#donation">
								Donation</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="{% url 'home' %}#supporters">
								Supporters</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="{% url 'home' %}#join">
								Join us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " href="{% url 'home' %}#contact">
								Contact us</a>
						</li>
					</ul>
				</div>
				<div class="collapse navbar-collapse" id="toggleNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class=" btn cr-btn red--outline" href="#">
								Donate</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="page-section auth-area pt-5">
		<div class="container pt-5">
			<div class="col-lg-12 p-0 mx-auto">
				<div class="auth-area__content p-0">
					<div class="col-lg-12 p-0">
						<div class="auth-area__header">
							<h3>Donate Product</h3>
							<p>Choose from our list of products and make a donation today!</p>
						</div>
						<div class="row pt-5 mt-2 reverse-column">
							<div class="col-lg-6">
								<div class=" donation-message">
									<div>
										<h4 class="title"> Appreciation & Reward: </h4>
										<p class="desc">We truly understand that this donation and gesture is truly selfless but we still hold it to say thank you for saying “#ThisIsMyResponse” with your donation.
											Every donor will get one or more of; </p>
										<ul class="list">
											<li>CRAC e-Certificate of Support </li>
											<li>CRAC Certificate of Appreciation </li>
											<li>CRAC Partner Plaque </li>
											<li>CRAC Coordinators Plaque </li>
											<li>CRAC Platform Supporters Plaque </li>
											<li>CRAC Logo Display on Website </li>
											<li>CRAC Name Mention on Website </li>
										</ul>
										<p class="desc">We will also like you to make a short 1 minute video or send a picture holding a card saying;
											<strong>“I just donated, #ThisIsMyResponse” </strong>
										</p>
										<p class="desc">
											Share on your social media handle with the hash tags;
										</p>
										<span class="hash-tag">#ThisIsMyResponse </span>
										<span class="hash-tag">#CRACGroup </span>
										<span class="hash-tag">#StaySafeStayHomeDontPanic </span>
										<p class="desc">And tag us @CracGroup on Instagram, Twitter and Facebook </p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<form class="pt-4" accept-charset="UTF-8" action="https://getform.io/f/5c4a8933-de3b-4a4e-95d2-590824d3a42e" method="POST" enctype="multipart/form-data" target="_blank" id="productDonationForm">
									<div class="progress-wrap mt-4 mb-1">
										<div class="line-progress-bar">
											<div class="line"></div>
											<ul class="checkout-bar">
												<li class="progressbar-dots active">1</li>
												<li class="progressbar-dots">2</li>
												<li class="progressbar-dots">3</li>
											</ul>
										</div>
									</div>
									<div class="tab-content">
										<div class="tab-pane" id="step1">
											<div class="tab-title">
												<h4>Contact Information</h4>
											</div>
											<ul>
												<li>
													<div>
														<div class="col-lg-12 p-0">
															<div class="isFluid">
																<label class="label dark">Donate Anonymously?</label>
																<div class="toggleInput mt-4">
																	<input type="checkbox" id="anonymityToggle" style="display:none;">
																	<label for="anonymityToggle"></label>
																</div>
															</div>
														</div>
														<div class="errorTxt"></div>
														<div class="styled-input wide hidden-input">
															<input id="donator_full_name" type="text" name="donation-name" required />
															<label>Full Name</label>
														</div>
													</div>
												</li>
												<li>
													<div>
														<div class="errorTxt"></div>
														<div class="styled-input wide">
															<input id="donator_email" type="email" name="donation-email" required />
															<label>Email</label>
														</div>
													</div>
												</li>
												<li>
													<div>
														<div class="errorTxt"></div>
														<div class="styled-input wide">
															<input id="donator_phone_number" type="text" name="donation-phone-number" required />
															<label>Phone Number</label>
														</div>
													</div>
												</li>
												<li style="list-style: none; display: inline">
													<button class="cr-btn is-lg fill next-btn1 w-100 m-0 mt-4" type="button">Next</button>
												</li>
											</ul>
										</div>
										<div class="tab-pane" id="step2">
											<div class="tab-title">
												<h4>Product Information</h4>
											</div>
											<ul>
												<li>
													<div>
														<div class="errorTxt"></div>
														<div class="styled-input wide">
															<input id="product" type="text" name="product-to-donate" required placeholder="What would you like to donate?" />
														</div>
													</div>
												</li>
												<li>
													<div class="col-lg-12 p-0">
														<div class="errorTxt"></div>
														<div class="styled-input wide">
															<textarea id="product_description" name="product-description" required placeholder="Please Describe the Product(s) in detail"></textarea>
														</div>
													</div>
												</li>
												<li>
													<button class="cr-btn is-lg fill next-btn2 w-100 m-0 mt-4" type="button">Next</button>
												</li>
											</ul>
										</div>
										<div class="tab-pane" id="step3">
											<div class="tab-title">
												<h4>Delivery Information</h4>
											</div>
											<ul>
												<li>
													<div class="col-md-12 p-0 is-relative">
														<label class="label">Expected Delivery Date</label>
														<div id="datepicker" class="input-group styled-input d-flex align-items-center date" data-date-format="mm-dd-yyyy">
															<span class="input-group-addon d-none"><i class="ti-calendar"></i></span>
															<input id="delivery_date" class="" name="delivery-date" type="text" readonly />
														</div>
													</div>
												</li>
												<li>
													<div class="errorTxt"></div>
													<div class="col-lg-12 p-0">
														<div class="styled-input wide">
															<textarea id="pickup_location" name="pickup-location" required></textarea>
															<label>Pickup location</label>
														</div>
													</div>
												</li>
												<li>
													<div class="errorTxt"></div>
													<div class="col-lg-12 p-0">
														<div class="styled-input wide">
															<textarea id="product_distribution" name="how-to-distribute" required placeholder="How do you intend to distribute the product(s)"></textarea>
														</div>
													</div>
												</li>
												<li>
													<button id="complete_donation_btn" class="submit-btn cr-btn is-lg fill d-block w-100 m-0 mt-5" type="submit">Complete Donation</button>
												</li>
											</ul>
										</div>
									</div>
									<div id="loader" style="display: none;" class="col-lg-12 text-center">
										<div class="cool-spinner"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="footer-bottom pl-0">
				<div class="col-lg-6">
					<div class="newsletter">
						<h3 class="heading">Subscribe to our newsletter</h3>
						<form class="col-lg-12 p-0">
							<div class="input-group col-lg-12 p-0 mb-3">
								<input type="email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addo">
								<div class="input-group-append">
									<button type="submit" class="btn red--bg text-white">Subscribe</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="social">
					<a href="https://www.instagram.com/cracgroup/" target="_blank"><i class="ti-instagram"></i></a>
					<a href="https://twitter.com/cracgroup" target="_blank"><i class="ti-twitter"></i></a>
					<a href="https://www.facebook.com/cracgroup" target="_blank"><i class="ti-facebook"></i></a>
					<a href="#" target="_blank"><i class="ti-youtube"></i></a>
				</div>
			</div>
			<div class=" mt-2 mb-4 p-0">
				<p class="copyright ml-0">&copy; 2020 Community Resilience Against COVID-19 (CRAC). All rights reserved.</p>
			</div>
			<div class="footer-credits text-center">
				<p>Project Site Developed with <i class="ti-heart"></i> by <a href="https://zebulloners.com" target="_blank">Zebullon</a> & <a href="https://krowdback.com/" target="_blank"> Krowdback </a></p>
				<div class="mt-4">
					<a href="https://zebulloners.com" target="_blank"> <img src="https://res.cloudinary.com/media-outlet/image/upload/v1585585425/crac/zebullon-logo_krtxhd_e5d92476c1a98adb716445289e277d7a_ws6zy3.png" alt="Zebullon Logo"> </a>
					<a href="https://krowdback.com/" target="_blank"> <img src="https://res.cloudinary.com/media-outlet/image/upload/v1585192984/crac/krowdback-LOGO_oal6cc.png" alt="krowdback logo" class="single-logo"> </a>
				</div>
			</div>
		</div>
	</footer>
	<a id="toTop"><i class="ti-angle-up"></i></a>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
	<script src="{% static 'lib/bootstrap/bootstrap.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/owl.carousel.min.js"></script>
	<script src="{% static 'dist/main.js' %}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
	var v = $("#productDonationForm").validate({
		errorElement: "span",
		errorClass: "error-input",
		errorPlacement: function(error, element) {
			error.insertAfter(element);
		}
	});

	$(".next-btn1").click(function() {
		if (v.form()) {
			$(".tab-pane").hide();
			$("#step2").fadeIn(1000);
			$('.progressbar-dots').removeClass('active');
			$('.progressbar-dots:nth-child(2)').addClass('active');
		}
	});
	$(".next-btn2").click(function() {
		if (v.form()) {
			$(".tab-pane").hide();
			$("#step3").fadeIn(1000);
			$('.progressbar-dots').removeClass('active');
			$('.progressbar-dots:nth-child(3)').addClass('active');
		}
	});
	$("#complete_donation_btn").click(function() {
		var fullname 				= $("#donator_full_name").val()
		var email	 				= $("#donator_email").val()
		var phone_number 			= $("#donator_phone_number").val()
		var product					= $("#product").val()
		var product_description 	= $("#product_description").val()
		var product_distribution	= $("#product_distribution").val()
		var delivery_date		 	= $("#delivery_date").val()
		var pickup_location 		= $("#pickup_location").val()

		Url 						= {% url 'product-donation' %}
		
		$.ajax({
			url: Url,
			method: "POST",
			data: {
				'fullname': fullname,
				'email': email,
				'phone_number': phone_number,
				'product': product,
				'product_description': product_description,
				'delivery_date': delivery_date,
				'pickup_location': pickup_location,
				'product_distribution': product_distribution,
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			},
		})

	});


	$("#datepicker").datepicker({
		autoclose: true,
		todayHighlight: true
	}).datepicker('update', new Date());

	$('#anonymityToggle').on('change', function() {
		if ($('#anonymityToggle').is(":checked")) {
			$(".hidden-input").hide(300);
			setTimeout(function() {
				$("#donator_full_name").val("Anonymous");
			}, 800);

		} else {
			$(".hidden-input").show(300);

			$("#donator_full_name").val("");

		}
	});

	$("#productDonationForm").submit(function(e) {
		$('.submit-btn').html('<i class="fa fa-spinner fa-spin"></i> Sending');
		e.preventDefault();
		var action = $(this).attr("action");
		$.ajax({
			type: "POST",
			url: action,
			crossDomain: true,
			data: new FormData(this),
			dataType: "json",
			contentType: "multipart/form-data",
			processData: false,
			contentType: false,
			headers: {
				"Accept": "application/json"
			}
		}).done(function() {
			setTimeout(function() {
				$("#productDonationForm").html("<h2 class='success-message'>Your donation was successfull. We will be in touch with you</h2>");
				$('auth-area__header').hide();
			}, 4000);

		}).fail(function() {
			$('.error').addClass('is-active');
		});
	});
	</script>
</body>

</html>